# ================================
#  秘密情報・環境設定
# ================================
.env
.env.local
.env.*.local

# ================================
#  Node.js
# ================================
node_modules/
npm-debug.log
*.log

# ================================
#  OS が自動生成するファイル
# ================================

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# ================================
#  エディタ・IDE
# ================================
.vscode/
.idea/
*.swp

# ================================
#  ビルド成果物
# ================================
dist/
build/
